@media only screen and ( min-device-width: 1240px ) {
    $font-size: 24px;
    $line-height: 28px;
    $paragraph-font-size: 22px;

    body {
        font-size: $font-size;
        line-height: $line-height;
    }

    header {
        padding: 100px 0 170px;
        font-size: $font-size + 24;
    }

    .column {
        width: 33%;
    }

    .container {
        width: 34%;
    }

    .box {
        margin: -84px 0 100px;
    }

    p {
        font-size: $paragraph-font-size;
        line-height: $line-height;
    }

    hr {
        margin: 15px 5px;
    }

    .button {
        padding: 16px 0 12px;
        margin-bottom: 15px;
        font-size: $font-size;
    }
    a.button {
        padding: 14px 0 10px;
    }

    .inline-button {
        padding: 7px 11px;
        margin-left: 10px;
        font-size: $font-size - 10;
    }

    .content {
        padding: 20px;
    }

    form {
        input {
            padding: 13px 14px 10px;
            font-size: $font-size;

            &.person-input {
                padding: 13px 118px 10px 14px;
            }
        }

        .person-input-group .cancel-button {
            padding: 15px 20px 11px;
            font-size: $font-size;
        }
    }

    .transactions-list {
        padding: 15px 0 15px 40px;

        li {
            line-height: $line-height + 6;
        }
    }

    .persons-list li {
        padding: 16px 14px 12px;
        font-size: $font-size;

        .remove-button {
            line-height: $line-height - 2;
        }

        .pull-label {
            padding: 19px 14px 13px;
            line-height: $line-height - 6;
        }
    }

    .debt-list {
        font-size: $font-size;

        &.resolved {
            padding: 15px 0 15px 40px;
    
            li {
                line-height: $line-height + 6;
            }
        }
    }
}