@media only screen and ( min-device-width: 768px ) {
    $font-size: 30px;
    $line-height: 34px;
    $paragraph-font-size: 22px;

    body {
        font-size: $font-size;
        line-height: $line-height;
    }

    header {
        padding: 100px 0 170px;
        font-size: $font-size + 24;
    }

    .column {
        width: 20%;
    }

    .container {
        width: 60%;
    }

    .box {
        margin: -93px 0 100px;
    }

    p {
        font-size: $paragraph-font-size + 4;
        line-height: $line-height;
    }

    hr {
        margin: 20px 5px;
    }

    .button {
        padding: 16px 0 12px;
        margin-bottom: 20px;
        font-size: $font-size;
    }
    a.button {
        padding: 14px 0 10px;
    }

    .inline-button {
        padding: 8px 13px;
        margin-left: 12px;
        font-size: $font-size - 10;
    }

    .content {
        padding: 25px;
    }

    form {
        input {
            padding: 13px 14px 10px;
            font-size: $font-size;

            &.person-input {
                padding: 13px 136px 10px 14px;
            }
        }

        .person-input-group .cancel-button {
            padding: 15px 20px 11px;
            font-size: $font-size;
        }
    }

    .transactions-list {
        padding: 20px 0 20px 50px;

        li {
            line-height: $line-height + 9;
        }
    }

    .persons-list li {
        padding: 16px 14px 12px;
        font-size: $font-size;

        .remove-button {
            line-height: $line-height - 2;
        }

        .pull-label {
            padding: 19px 14px 13px;
            line-height: $line-height - 4;
        }
    }

    .debt-list {
        font-size: $font-size;

        &.resolved {
            padding: 20px 0 20px 50px;
    
            li {
                line-height: $line-height + 9;
            }
        }
    }
}