$primary-color: #1b9dff;
$primary-color-intense: #135bfb;
$dark-color: #475270;
$light-text-color: #848484;
$blue-color: #c2ebef;
$transparent-blue-color: rgba(194, 235, 239, 0.5);
$font-size: 48px;
$line-height: 62px;
$paragraph-font-size: 28px;
$border-color: #999;

html, body {
    height: 100%;
}
body {
    background: url('../images/background-tile.jpg') repeat;
    font-family: 'Josefin Sans', sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    color: $dark-color;
}

header {
    background: $primary-color;
    padding: 100px 0 170px;
    box-shadow: 0 3px 10px #bbb;
    font-size: $font-size + 22;
    text-align: center;
    color: #fff;
}

.column {
    display: inline-block;
    width: 5%;
}

.container {
    display: inline-block;
    width: 90%;
}

.box {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 25px;
    margin: -83px 0 100px;
    box-shadow: 0 3px 15px #bbb;
}

p {
    font-size: $paragraph-font-size;
    line-height: $line-height;
}

hr {
    height: 1px;
    background-color: $border-color;
    margin: 25px 5px;
}

.hide {
    opacity: 0;
}

.underline {
    text-decoration: underline;
}

.highlight {
    color: $primary-color;
}

.button {
    display: block;
    width: 100%;
    background: $primary-color;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 0 18px;
    margin-bottom: 25px;
    font-family: inherit;
    font-size: $font-size;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background 100ms ease-in-out;

    &:last-child {
        margin-bottom: 0;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &:active {
        background: $primary-color-intense;
    }

    &.dark {
        background: $dark-color;
    
        &:active {
            background: #374260;
        }
    }
}
a.button {
    padding: 18px 0 16px;
}

.inline-button {
    background: $primary-color;
    border: none;
    border-radius: 38px;
    outline: none;
    padding: 12px 24px;
    margin-left: 15px;
    vertical-align: top;
    font-family: inherit;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    transition: background 100ms ease-in-out;

    &:active {
        background: $primary-color-intense;
    }
}

.content {
    background: $transparent-blue-color;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 25px;
}

form {
    font-size: 0;

    input {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid $border-color;
        outline: none;
        border-radius: 10px;
        padding: 18px 20px 15px;
        margin-bottom: 25px;
        font-family: inherit;
        font-size: $font-size;
        color: inherit;
        transition: background 200ms ease-in-out;

        &.person-input {
            padding: 18px 136px 15px 20px;
        }
    }

    .person-input-group {
        position: relative;

        input {
            margin-bottom: 0;
        }

        .cancel-button {
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            border: none;
            border-radius: 10px;
            outline: none;
            padding: 19px 20px 17px;
            font-family: inherit;
            font-size: $font-size;
            color: inherit;
            cursor: pointer;
            transition: background 200ms ease-in-out, color 100ms ease-in-out;

            &:hover {
                background: $dark-color;
                color: #fff;
            }
        }
    }
}
form.error {
    input {
        background: #f6dfe9;
    }
}

.transactions-list {
    padding: 25px 0 25px 65px;
    list-style-type: decimal;
    background: $transparent-blue-color;
    border-radius: 10px;

    li {
        line-height: $line-height + 12;
    }
}

ul {
    list-style-type: none;

    li {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.persons-list {

    li {
        position: relative;
        background: $blue-color;
        border-radius: 10px;
        padding: 21px 20px 19px;
        font-size: $font-size;
        cursor: pointer;

        .grouped-text {
            display: inline-block;
            padding-right: 150px;
        }

        .remove-button {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background: none;
            border: none;
            outline: none;
            padding: 16px 20px 14px;
            font-family: inherit;
            font-size: inherit;
            color: $light-text-color;
            cursor: pointer;
        }

        .pull-label {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background: none;
            border: none;
            outline: none;
            padding: 24px 20px 20px;
            font-family: inherit;
            font-size: inherit;
            color: $light-text-color;
        }

        &.active {
            background: #a2cbcf;
            color: #fff;
            transition: background 100ms ease-in-out, color 100ms ease-in-out;
    
            .remove-button {
                color: #fff;
            }
        }

        &.ui-draggable-dragging {
            background: rgba(162, 203, 207, 0.5);
    
            .pull-label {
                display: none;
            }
        }

        &.ui-droppable-active {
            background: rgba(192, 235, 239, 0.5);
            text-align: right;
    
            .grouped-text {
                padding-right: 0;
            }
    
            .pull-label {
                display: none;
            }
        }
    }
}

.debt-list {
    margin-top: 25px;
    font-size: $font-size;

    &.resolved {
        padding: 25px 0 25px 65px;
        margin-top: 15px;
        list-style-type: disc;
        background: $transparent-blue-color;
        border-radius: 10px;
    
        li {
            margin-bottom: 0;
            line-height: $line-height + 12;
        }
    }
}